main{
    position: absolute; 
    top: 108px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    width:100%;
    overflow:auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 20px;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight:bold;
}
.indent-left {
    margin-left: 200px;
}
.indent-right {
    margin-left: 200px;
}

main > article{
    grid-column-start: 2;
}
#content-header > * {
    margin-top: 5px;
    margin-bottom: 0px;
}
#content-header > h1 {
    font-size: 2em;
} 
#content-header > h2{
    font-size: 1.5em;
}
#content-header > time{
    font-style: italic;
    font-weight: bold;
}

article > section > h1{
    border-bottom: 1px solid black;
}

blockquote{
    border-radius: 25px;
    padding: 15px;
    background: lightgrey;
    font-style: italic; 
}
#leftNav{
    grid-column-start: 1;
    position:fixed;
    /* margin-top: 20px; */
}
#leftNav li{
    display: block;
    /* margin: 5px 0px; */
    padding: 5px 0px;
}
#leftNav ul{
    margin-top: 0px;
}
#leftNav a{
    text-decoration: none;
    color: black;
}
#leftNav a:hover{
    text-decoration: underline;
}
#leftNav a:active{
    background:#4580BA;
}
#asideElement{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3;
    align-items: center;
}
#asideElement div:nth-of-type(2){
    grid-column-start: span 1;
}
#asideElement div{
    grid-column-start: span 2;
}
aside.pullquote{
    grid-column-start: 2; 
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 25px; 
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}
#detailsElement details{
    margin-left: 25px;
}
article footer{
    border-top: 2px solid black;
    padding-top: 25px;
    margin-bottom: 25px;
}