body > footer { 
    position:absolute; 
    bottom:0px; 
    left: 0px;
    right: 0px;
    width: 100%;   
    height: 50px;
    border-top: 2px solid black;    
    background-color:#4580BA;    
    display:flex;
    align-items: center; 
    justify-content: center;
}